<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); -%>
  </head>
  <body>
    <%- include('partials/menu'); -%>

    <div class="container-fluid bg-3 text-center">
      <h3><%= page %></h3>
      <br />
      <div class="row">
        <div class="col-sm-4">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
        </div>
        <div class="col-sm-4">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
        </div>
        <div class="col-sm-4">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-6">
        <div class="shadow-sm bg-white rounded-lg">shadow-sm</div>
        <div class="shadow bg-white rounded-lg">shadow</div>
        <div class="shadow-md bg-white rounded-lg">shadow-md</div>
        <div class="shadow-lg bg-white rounded-lg">shadow-lg</div>
        <div class="shadow-xl bg-white rounded-lg">shadow-xl</div>
        <div class="shadow-2xl bg-white rounded-lg">shadow-2xl</div>
      </div>
    </div>
  </body>

  <%- include('partials/script'); -%>
</html>
